<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Status</h1>
  <h4>time : {{timestamp}}</h4>
  <h4 *ngIf="accuracy">accuracy : {{accuracy}} meters</h4>
  <h4 *ngIf="altitude">altitude : {{altitude}} meters above sea level</h4>
  <h4 *ngIf="direction">direction : {{direction}} degrees from North</h4>
  <h4 *ngIf="speed">speed : {{speed}} m/s</h4>

  <h1>Current Location :</h1>
  <h4>Latitude : {{lat}}</h4>
  <h4>Longitude : {{long}}</h4>
  <button ion-button secondary block (click)="updateLocation()">Update Location</button>

  <h1>Distance with FMIPA IPB :</h1>
  <h4>{{distance}} km</h4>
  <button ion-button primary block (click)="getDistanceFromLatLonInKm(lat,long,-6.5574205, 106.7314220)">Calculate Distance</button>
  
</ion-content>
